{% if group_memberships %}
<div class="card">
    <h5 class="card-header">
        <i class="mdi mdi-account-group text-primary"></i> Azure AD Groups
    </h5>
    <div class="card-body">
        <h6 class="text-info">
            <i class="mdi mdi-account-group"></i> Group Member
        </h6>
        <ul class="list-unstyled mb-0">
            {% for membership in group_memberships %}
            <li>
                <a href="{{ membership.group.get_absolute_url }}" class="text-info">
                    <i class="mdi mdi-account-group"></i> {{ membership.group.name }}
                </a>
                <small class="text-muted"> - {{ membership.group.get_group_type_display }}</small>
                {% if membership.member_type == 'nested' %}
                <span class="badge bg-secondary ms-1">nested</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}